/animated_vector_drawable_25_0_1.xml
/appcompat_v7_25_0_1.xml
/butterknife_8_4_0.xml
/design_25_0_1.xml
/espresso_idling_resource_2_2_2.xml
/firebase_auth_10_0_0.xml
/firebase_core_10_0_0.xml
/firebase_database_10_0_0.xml
/firebase_iid_10_0_0.xml
/hamcrest_integration_1_3.xml
/hamcrest_library_1_3.xml
/javawriter_2_1_1.xml
/javax_annotation_api_1_2.xml
/javax_inject_1.xml
/play_services_auth_base_10_0_0.xml
/play_services_base_10_0_0.xml
/play_services_basement_10_0_0.xml
/recyclerview_v7_25_0_1.xml
/rules_0_5.xml
/runner_0_5.xml
/support_compat_25_0_1.xml
/support_core_ui_25_0_1.xml
/support_core_utils_25_0_1.xml
/support_fragment_25_0_1.xml
/support_media_compat_25_0_1.xml
/support_v4_25_0_1.xml
/support_vector_drawable_25_0_1.xml
